.ColorBox{
    position: relative;
    background-color: rgb(246, 229, 141);
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    margin-bottom: -4px;
}
.copy-button{
    position: absolute;
    display: inline-block;
    height: 30px;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none;
    background-color: rgb(255,255,255,0.3);
    line-height: 30px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    opacity: 0;
    font-weight: 600;
    cursor: pointer;
}


.ColorBox:hover .copy-button{
    opacity: 1;
    transition: 0.5s;
}

.box-content{
    position: absolute;
    width: 100%;
    bottom: 9px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0px 10px;
    font-weight: 600;
}

.see-more{
    position: absolute;
    right: 0;
    bottom: 1px;
    background-color: rgb(255,255,255,0.3);
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

.copy-overlay{
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    transform: scale(0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-overlay.show {
    opacity: 1;
    transform: scale(50);
    position: absolute;
    z-index: 10;
}

.copy-msg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.1);
    font-size: 4rem;
    color: #fff;
    opacity: 0;
}

.copy-msg.show{
    opacity: 1;
    transform: scale(1);
    z-index: 25;
    transition: all ease-in-out 0.4s ;
    transition-delay: 0.3s;
}

.copy-msg h1{
    font-weight: 400;
    text-shadow: 1px 2px black;
    background-color: rgb(255,255,255,0.2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 0
}

.copy-msg p{
    font-size: 2rem;
    font-weight: 100;
}